.widget_indexdata_widget {
  clear: both;
  width: 100%;
  display: inline-block;
}

.mkwsSummary {
  border-top: 1px solid #95a5a6;
  padding: 10px 0;
  clear: both;
}

.mkws-field-thumb > img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100px;
}

.mkws-field-author,
.mkws-field-date,
.mkws-field-title {
  display: block;
}

.mkws-field-title {
  font-size: 1.3em;
}

.mkws-field-author {
  font-weight: bold;
}

.mkws-field-date {
  font-style: italic;
}

.mkws-details table,
.mkws-details tr {
  width: 100%;
}

.mkws-details table th {
  width: 20%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.fullwidth {
  width: 100%;
}

.mkws-facets {
  float: left;
  width: 25%;
  padding-right: 10px;
}

.mkwsRecords {
  float: left;
  width: 75%;
  padding-left: 20px;
  border-left: 4px double #95a5a6;
}

.mkws-facet {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.mkws-facet-title  {
  font-weight: bold;
  border-bottom: 1px solid #95a5a6;
  text-transform: uppercase;
}

.mkws-term,
.mkws-facet {
  clear: both;
}

.mkws-term a {
  float: left;
}

.mkws-term span {
  float: right;
}


/* Plugin */
.mkws-indexdata-artist-block ul {
  list-style: none;
  padding: 0;
}

.mkws-indexdata-artist-block li {
  clear: both;
  height: 51px; 
  border-bottom: 1px solid #95a5a6;
}

.mkws-indexdata-artist-block img.wimp-img {
  float: right;
  max-width: 50px;
}

.mkws-indexdata-artist-block .left {
  float: left;
}

.mkws-indexdata-artist-block .right {
  float: right;
} 
